.contacts-page__address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.contacts-page__address__icon-wrapper {
    position: relative;
    align-self: flex-start;
    margin-right: 100px;
    margin-left: 40px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}

.contacts-page__address__icon-wrapper::before {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: -36px;
    content: '';
    background-image: url(../../images/map-icon.png);
    background-size: contain;
}

.contacts-page__address__text-wrapper {
    display: flex;
    flex-direction: column;
}



.contacts-page__contacts {
    margin-top: 60px;
    margin-bottom: 40px;
}
